MATRIX_MODE=None  # development or production mode
DATABASE_URL=None  # database url 
API_KEY=None  # api key to access external service
LOG_LEVEL=None  # DEBUG or INFO log level
ZION_ENDPOINT=None  # zion endpoint? determines if offline or online
